*, *::after, *::before {
  box-sizing:border-box;  
}

body{ 
    margin: 0;
}

html	{
	height: 100%;
	width: 100%;
    margin: 0;
}

header img{
    width: 100vw;
    margin: 0;
}

video {
    max-width: 100vw;
}

h1 {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
   Helvetica, Arial, "Lucida Grande", sans-serif;
   font-size: 32px;
   font-style  : italic;
   font-weight : bold;
   color: #FF4747 ;
   text-shadow: 1px 1px 0px #00B8B8;
   margin-top: 20px;
   margin-left: 5%;
   margin-right:30px;

}

.tekst1 {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
   Helvetica, Arial, "Lucida Grande", sans-serif;
   font-size: 12px;
   font-style  : italic;
   font-weight : bold;
   color: #1E1E1E ;
   margin-top: 40px;
   margin-left: 5%;
   margin-right:20%;
}

.tekst2 {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
   Helvetica, Arial, "Lucida Grande", sans-serif;
   font-size: 12px;
   font-style  : italic;
   font-weight : medium;
   color: #1E1E1E ;
   margin-top: 10px;
   margin-left: 140px;
   margin-right:20px;
}
